<br><%= image_tag(@user.avatar.url(:thumb)) %><br>
<%= @user.name %><br>
<%= @user.surname %><br>
<%= @user.email %><br>


<h2>Your events</h2>
<table>
	<tr align="center">
		<td>Name: </td>
		<td>Gender: </td>
		<td>Type: </td>
		<td>Description: </td>
	</tr>
	<% @user.events.each do |e| %>
		<tr align="center">
			<td><%= link_to e.name, event_path(e) %></td>
			<td><%= e.gender %></td>
			<td><%= e.etype %></td>
			<td><%= e.description %></td>
			<td><%= link_to "unfollow", unfollow_event_path(e)%></td>
		</tr>
	<% end %>
</table>