<h1><%= @event.name %></h1>

<br><%= if current_user.events.include?(@event) then
		link_to "unfollow", unfollow_event_path(@event)
	else
 		link_to "join", join_event_path(@event)
 	end %><br>

<br><%= image_tag(@event.photo.url(:thumb)) %><br>
<table>
	<tr>
		<td>Date: </td>
		<td><%= @event.date %></td>
	</tr>
	<tr>
		<td>Time: </td>
		<td><%= @event.time %></td>
	</tr>
	<tr>
		<td>Type: </td>
		<td><%= @event.etype %></td>
	</tr>
	<tr>
		<td>Description: </td>
		<td><%= @event.description %></td>
	</tr>
	<tr>
		<td>Gender: </td>
		<td><%= @event.gender %></td>
	</tr>
	<tr>
		<td>Number: </td>
		<td><%= @event.number %></td>
	</tr>
	<tr>
		<td>Age: </td>
		<td><%= @event.agemin %> - <%= @event.agemax %></td>
	</tr>
	<tr>
		<td><%= link_to "Edit", edit_event_path %></td>
		<td><%= link_to "Delete", @event, method: :delete %></td>
	</tr>
</table>