<h1>All events</h1>

<table>
	<tr align="center">
		<td>Name: </td>
		<td>Gender: </td>
		<td>Type: </td>
		<td>Description: </td>
		<td></td>
	</tr>
	<% @events.each do |e| %>
		<tr align="center">
			<td><%= link_to e.name, event_path(e) %></td>
			<td><%= e.gender %>
			<td><%= e.etype %></td>
			<td><%= e.description %></td>
			<% if current_user.events.include?(e) then %>
			<td><%= link_to "unfollow", unfollow_event_path(e) %></td>
			<% else %>
			<td><%= link_to "join", join_event_path(e) %></td>
			<% end %>
		</tr>
	<% end %>
	<tr align="center">
		<td colspan="4"><%= link_to "Add new event", new_event_path %></td>
	</tr>
</table>